body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blueviolet;
    background-color: bisque;
    background-image: url(goku.png);
    background-repeat: no-repeat;
}



h1 {
    color: blue;
}

h2 {
    color: brown;
}